<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<%= link_to "Go back", root_path %>

<br>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
